body {
    font-family: 'Xiaolai SC', Verdana, sans-serif;
}

html[data-theme="light"] .kratos-cover.kratos-cover-2 {
    background-position: center;
}

#w-comments .wl-reaction-list {
    gap: 24px;
}
#w-comments .wl-reaction-img {
    width: 72px;
    height: 72px;
}
#w-comments .wl-reaction-votes {
    font-size: 1em;
}
